<!-- app/views/articles/_articles_list.html.erb -->
<div id="articles" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
  <% articles.each do |article| %>
    <div class="col">
      <%= link_to article_path(article), class: "fs-1 fw-bold text-decoration-none text-dark", data: { turbo_frame: "_top" } do %>
        <div class="cover-image position-relative overflow-visible">
          <%= image_tag article.cover if article.cover.attached? %>
          <div class="cover-title">
            <h1><%= article.title %></h1>
            <p class="text-white-50 fs-6 fw-normal"><%= article.created_at.strftime("%m-%Y") %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
