<div id="articles">
  <% @articles.each do |article| %>
  <%= link_to article.title, article_path(article), id: dom_id(article), class: "fs-1 fw-bold text-decoration-none text-dark" %>
  <% end %>
</div>