.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

#login_password {
    flex-grow: 1;
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}