/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

pre {
  background-color: #000000 !important;
  font-family: 'Fira Code', monospace !important;
  font-size: 16px !important;
  color: #ffffff;
  padding: 30px !important;
  overflow-x: auto;
  border-radius: 20px;
  /* embellecer el scroll */
  scrollbar-width: none
  
}

pre em {
  font-style: normal;
  text-decoration: none;
  color: #ffffffa1;
}

pre strong {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #15ff00;
}

.trix-content {
  font-size: 20px;
  line-height: 1.8;
  border: none !important;
  font-family: 'Noto Serif', serif;
}

.trix-content::first-letter {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.trix-button-group {
  border: none !important;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

trix-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 10px;
}
.trix-button-row {
  scrollbar-width: none !important;
  justify-content: center !important;
}
.trix-button {
  border: none !important;
}

.trix-button-group--history-tools {
  display: none !important;
}

.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level {
  display: none !important;
}

.trix-content img {
  border-radius: 20px;
}

.attachment__caption {
  display: none;
}